node_modules/
.env.local
churchmanagementsystem-a77a3-firebase-adminsdk-fbsvc-2ce944832f.json
firebase-service-account.json
*-firebase-adminsdk-*.json
firebase-debug*.log
firestore-debug*.log
*.pem
*.key
.firebase
*.json